In [5]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [6]:
np.random.seed(1)

In [8]:

df  =  pd.DataFrame(randn(4, 5),[1, 2, 3, 4], ['A', 'B', 'C', 'D', 'E'])
df

          A         B         C         D         E
1 -1.100619  1.144724  0.901591  0.502494  0.900856
2 -0.683728 -0.122890 -0.935769 -0.267888  0.530355
3 -0.691661 -0.396754 -0.687173 -0.845206 -0.671246
4 -0.012665 -1.117310  0.234416  1.659802  0.742044

In [9]:
df[:1]

          A         B         C         D         E
1 -1.100619  1.144724  0.901591  0.502494  0.900856